<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/3.3/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/3.3/examples/signin/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="https://getbootstrap.com/docs/3.3/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://getbootstrap.com/docs/3.3/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://code.angularjs.org/snapshot/angular-messages.js"></script>
    <script src="http://localhost/User_registration/public/javascripts/angular_custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        p {
            color: red
        }
    </style>
</head>

<body ng-app="user_details" ng-controller="user_data">

    <div class="container">

        <form class="form-signin" name="user_login">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" id="Username" class="form-control" ng-model="Username" placeholder="Username" name="Username" required>
            <br>
            <div ng-messages="user_login.Username.$error" ng-if="user_login.Username.$touched">
                <p ng-message="required">Please enter username.</p>
            </div>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" ng-model="password" name="password" placeholder="Password"
                required>
            <div ng-messages="user_login.password.$error" ng-if="user_login.password.$touched">
                <p ng-message="required">Please enter password.</p>
            </div>
            <input class="btn btn-lg btn-primary btn-block" type="button" value="Login" ng-click="login_user()"  ng-disabled="user_login.$invalid">
            <input class="btn btn-lg btn-primary btn-block" type="button" value="Sign Up" ng-click="sign_up()">
        </form>

    </div>
    <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>